@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

main{
    min-height: 80vh;
}

h3{
    padding: 1rem 0;
}
.rating span{
    margin-right: 0.1rem;
}